/*
COLORS:
    red: #E63946 rgb(230, 57, 70)
    cream: #F1FAEE rgb(105, 5, 98)
    light blue: #A8DADC rgb(168, 218, 220)
    blue: #457B9D rgb(69, 123, 157)
    dark blue: #1D3557 rgb(29, 53, 87)
*/

body {
    background-color: #F1FAEE;
    color: #E63946;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.search-bar {
    text-align: center;
}

.main {
    padding: 30px;
}

.parent {
    padding: 1rem;
}

.child {
    margin: 10px;
    border: 1px solid indigo;
    padding: 1rem;
}

.flex-parent {
    display: flex;
}

.flex-child {
    flex: 1;
}

.item {
    display: inline-flex;
    padding: 12px 6px;
    align-items: flex-start;
    gap: 13px;
}

.data {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.button-group {
    display: flex;
    height: 19px;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.button-group button {
    display: flex;
    width: 50px;
    height: 19px;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E63946;
    margin: 0;
    border: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #457B9D;
    color: #F1FAEE;
}

li {
    color: #F1FAEE;
    float: left;
}

li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #1D3557;
}

input[type="text"] {
    padding: 10px;
    background-color: #F1FAEE;
    width: 30%;
    height: 25.5px;
    border-radius: 10px;
    border: 2.5px solid #457B9D;
}

.search-bar button {
    position: relative;
    top: 7px;
}

button {
    background-color: #457B9D;
    border: 2.5px solid #457B9D;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .flex-parent {
        display:block;
    }
    .search-bar input[type="text"] {
        width: 50%;
    }
}