<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song of the Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <!--
      COLORS:
      red: #E63946 rgb(230, 57, 70)
      cream: #F1FAEE rgb(105, 5, 98)
      light blue: #A8DADC rgb(168, 218, 220)
      blue: #457B9D rgb(69, 123, 157)
      dark blue: #1D3557 rgb(29, 53, 87)
    -->
    <!-- Add your CSS link here for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/archive.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <style>
      /* Your CSS styles go here */
    </style>
</head>
<body>
    <!-- Header section -->
    <ul>
        <li><img src="{{ url_for('static', filename='images/logo.png')}}" height="25" width="25" style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"></li>
        <li><a href="/home">Home</a></li>
        <li><a class="active" href="/archive">Archive</a></li>
        <li><a href="/song">Add Song</a></li>

    </ul>
    <h1 style="text-align: center;">Song of the Day</h1>

    <!-- Main content -->
    <!-- Search bar for songs -->
    <div class="search-bar">
        <div class="search-bar-item">
            <input type="text" id="dateInput" placeholder="yyyy-mm-dd">
            <button onclick="findSongs('date')" class="search">
                <span class="material-symbols-outlined" style="color: #F1FAEE;">
                    search
                </span>
            </button>
        </div>
        <div class="search-bar-item">
            <input type="text" id="songInput" placeholder="Archive Songs...">
            <button onclick="findSongs('song')" class="search">
                <span class="material-symbols-outlined" style="color: #F1FAEE;">
                    search
                </span>
            </button>
        </div>
    </div>

    <!-- Testing area -->
    {% if song  == False: %}
    <br>
    <p style="text-align: center;">{{items}}</p>
    {% elif song == True: %}
    <br>
    <div class="result-song" id="divSong">
        <table id="songTable">
            <tr>
              <th>Date</th>
              <th>Song Name</th>
              <th>Artist</th>
            </tr>
            {% for item in items %}
            <tr>
              <td>{{item[2]}}/{{item[3]}}</td>
              <td>{{item[4]}}</td>
              <td>{{item[5]}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <table class="detail">
            <tr>
                <th>Happy</th>
                <th>Sad</th>
            </tr>
            <tr>
                <td>{{happy}}</td>
                <td>{{sad}}</td>
            </tr>
            <tr>
                <th>Upbeat</th>
                <th>Calm</th>
            </tr>
            <tr>
                <td>{{upbeat}}</td>
                <td>{{calm}}</td>
            </tr>
        </table>
    </div>
    {% endif %}


    <br>
</body>
<script>
    // JavaScript functions for search and adding songs
    function findSongs(type) {
        if (type == "date") {
            fetch('http://192.168.4.44:5000/findSong/', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(
                {"type": "date",
                 "search": document.getElementById("dateInput").value}
                                )
            })
            .then(response => response.json())
            .then(response => {
                table = document.getElementById("songTable");
                table.innerHTML = ""
                table.innerHTML = `
                <tr>
                    <th>Date</th>
                    <th>Song Name</th>
                    <th>Artist</th>
                </tr>
                `
                console.log(table.innerHTML)
                for (let i = 0; i < response["output"].length; i ++ ) {
                    table.innerHTML += `
                    <tr>
                        <td>${response["output"][i][2]}/${response["output"][i][3]}</td>
                        <td>${response["output"][i][4]}</td>
                        <td>${response["output"][i][5]}</td>
                    </tr>
                    `
                }
            })
            
        }

        if (type == "song") {
            console.log(document.getElementById("songInput").value)
            fetch('http://192.168.4.44:5000/findSong/', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(
                {"type": "song",
                 "search": document.getElementById("songInput").value}
                                )
            })
            .then(response => response.json())
            .then(response => {
                table = document.getElementById("songTable");
                table.innerHTML = ""
                table.innerHTML = `
                <tr>
                    <th>Date</th>
                    <th>Song Name</th>
                    <th>Artist</th>
                </tr>
                `
                console.log(table.innerHTML)
                for (let i = 0; i < response["output"].length; i ++ ) {
                    table.innerHTML += `
                    <tr>
                        <td>${response["output"][i][2]}/${response["output"][i][3]}</td>
                        <td>${response["output"][i][4]}</td>
                        <td>${response["output"][i][5]}</td>
                    </tr>
                    `
                }
            })
        }
    }
</script>
</html>
