<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song of the Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <!--
      COLORS:
      red: #E63946 rgb(230, 57, 70)
      cream: #F1FAEE rgb(105, 5, 98)
      light blue: #A8DADC rgb(168, 218, 220)
      blue: #457B9D rgb(69, 123, 157)
      dark blue: #1D3557 rgb(29, 53, 87)
    -->
    <!-- Add your CSS link here for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/song.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <style>
      /* Your CSS styles go here */
    </style>
</head>
<body>
    <!-- Header section -->
    <ul>
        <li><img src="{{ url_for('static', filename='images/logo.png')}}" height="25" width="25" style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"></li>
        <li><a href="/home">Home</a></li>
        <li><a class="active" href="/archive">Archive</a></li>
        <li><a href="/song">Add Song</a></li>
        <li><a href="/recap">Recap</a></li>

    </ul>
    <h1 style="text-align: center;">Song of the Day</h1>

    <!-- Main content -->
    <!-- Search bar for songs -->
    <h2 class="heading">Song Details</h2>
    <div class="date">
        <label for="date">Song Name:</label><br>
        <input id="songName" type="text" value="{{items[5]}}" disabled>
    </div>
    <div class="date">
        <label for="date">Artist:</label><br>
        <input id="artist" type="text" value="{{items[6]}}" disabled>
    </div>
    <h2 class="heading">Date</h2>
    <div class="date">
        <label for="date">Date:</label><br>
        <input id="date" type="text" value="{{items[1]}}">
    </div>
    <br>
    <h2 class="heading">Type of Song</h2>
    <div id="songInfo" class="detail-button">
        <ul id="happy-sad" class="detail-button">
            <li class="left-detail">
                {% if items[8] == 1 %}
                <input type="radio" id="happy" name="hap-sad" checked/>
                {% else %}
                <input type="radio" id="happy" name="hap-sad"/>
                {% endif %}
                <label for="happy">Happy</label>
            </li>
            <li class="right-detail">
                {% if items[9] == 1 %}
                <input type="radio" id="sad" name="hap-sad" checked/>
                {% else %}
                <input type="radio" id="sad" name="hap-sad"/>
                {% endif %}
                <label for="sad">Sad</label>
            </li>
        </ul>
        <br>
        <ul id="upbeat-calm" class="detail-button">
            <li class="left-detail">
                {% if items[10] == 1 %}
                <input type="radio" id="upbeat" name="upbeat-calm" checked/>
                {% else %}
                <input type="radio" id="upbeat" name="upbeat-calm"/>
                {% endif %}
                <label for="upbeat">Upbeat</label>
            </li>
            <li class="right-detail">
                {% if items[11] == 1 %}
                <input type="radio" id="calm" name="upbeat-calm" checked/>
                {% else %}
                <input type="radio" id="calm" name="upbeat-calm"/>
                {% endif %}
                <label for="calm">Calm/Slow</label>
            </li>
        </ul>
    </div>
    <br><br>
    <p id="success" style="text-align: center;"></p>
    <div id="statusButtons" style="text-align: center;" class="statusButtons">
        <button id="{{id}}" onclick="edit('delete', this.id)">Delete</button>
        <button id="{{id}}" onclick="edit('save', this.id)">Save</button>
        <a href="/archive"><button>Cancel</button></a>
    </div>
    <br><br><br>
    <!-- Testing area -->
</body>
<script>
    // JavaScript functions for search and adding songs
    function edit(type, id) {
        date = document.getElementById("date").value;

        happy_sad = document.querySelectorAll('input[name="hap-sad"]:checked');
        calm_up = document.querySelectorAll(`input[name="upbeat-calm"]:checked`)
        
        fetch('http://192.168.4.44:5000/edit/', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(
                {"id": id,
                 "type": type,
                 "date": date,
                 "happy-sad": happy_sad[0].id,
                 "calm-upbeat": calm_up[0].id}
                                )
        })
        .then(response => response.json())
        .then(response => {
            document.getElementById("success").innerText = `The song was ${response["type"]}d!`
        })
    }
</script>
</html>
