<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song of the Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--
      COLORS:
      red: #E63946 rgb(230, 57, 70)
      cream: #F1FAEE rgb(105, 5, 98)
      light blue: #A8DADC rgb(168, 218, 220)
      blue: #457B9D rgb(69, 123, 157)
      dark blue: #1D3557 rgb(29, 53, 87)
    -->
    <!-- Add your CSS link here for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <style>
      /* Your CSS styles go here */
    </style>
</head>
<body>
    <!-- Header section -->
    <ul>
        <li><img src="{{ url_for('static', filename='images/logo.png')}}" height="25" width="25" style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"></li>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#archive">Archive</a></li>

    </ul>
    <h1 style="text-align: center;">Song of the Day</h1>

    <!-- Main content -->
    <!-- Search bar for songs -->
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search for songs...">
        <button onclick="searchSongs()">
            <span class="material-symbols-outlined" style="color: #F1FAEE;">
                search
            </span>
        </button>
    </div>

    <!-- Testing area -->
    <div class='parent flex-parent'>
        <div class='child flex-child' id="searchResults">A</div>
        <div class='child flex-child'>B</div>
      </div>
    
    <br>
    <!-- Song of the Day section -->
    <div class="song-of-the-day">
      <h2>Song of the Day</h2>
      <!-- Display song details here -->
      <p>Title: Song Title</p>
      <p>Artist: Artist Name</p>
      <img src="album_cover.jpg" alt="Album Cover">
      <button onclick="addSong()">Add Song</button>
    </div>
</body>
<script>
    // JavaScript functions for search and adding songs

    function searchSongs() {
        let x = document.getElementById("searchInput").value;
        console.log(x)
        console.log(document.getElementById("searchResults").textContent);
        fetch('http://192.168.4.44:5000/hello/' + x) .then(response => response.json()) .then(data => {
          document.getElementById("searchResults").textContent = data;
          console.log(data["tracks"]["items"][0]["name"])
          console.log(data["tracks"]["items"][0]["popularity"])
        }) .catch(error => console.error(error)); 
    }

    function addSong() {
      // Implement functionality to add a song
      // This might open a form for user input or trigger an action to add the song
    }
</script>
</html>
