<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song of the Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <!--
      COLORS:
      red: #E63946 rgb(230, 57, 70)
      cream: #F1FAEE rgb(105, 5, 98)
      light blue: #A8DADC rgb(168, 218, 220)
      blue: #457B9D rgb(69, 123, 157)
      dark blue: #1D3557 rgb(29, 53, 87)
    -->
    <!-- Add your CSS link here for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recap.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <style>
      /* Your CSS styles go here */
    </style>
</head>
<body>
    <!-- Header section -->
    <ul>
        <li><img src="{{ url_for('static', filename='images/logo.png')}}" height="25" width="25" style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="/song">Add Song</a></li>
        <li><a class="active" href="/recap">Recap</a></li>

    </ul>
    <h1 style="text-align: center;">Song of the Day</h1>

    <!-- Main content -->
    <!-- Search bar for songs -->
    <div style="text-align: center; gap: 20px">
        <button id="1m" class="active" onclick="newTerm(this.id)">1 Month</button>
        <button id="6m"onclick="newTerm(this.id)">6 Months</button>
        <button id="lifetime" onclick="newTerm(this.id)">Lifetime</button>
    </div>
    <br>
    <!-- Testing area -->
    <div style="align-items: center;">
        <div class="topTable">
            <table id="artists">
                <tr>
                    <th>Top 10 Artists</th>
                </tr>
                {% for artist in topArtist["items"] %}
                <tr>
                    <td>{{artist["name"]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="topTable">
            <table id="song">
                <tr>
                    <th>Top 10 Songs</th>
                </tr>
                {% for song in topSong["items"] %}
                <tr>
                    <td>{{song["name"]}} by 
                        {% for artist in song["artists"] %}
                            {{artist["name"]}}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
<script>
    function newTerm(id) {
        document.getElementById("1m").classList.remove("active")
        document.getElementById("6m").classList.remove("active")
        document.getElementById("lifetime").classList.remove("active")
        document.getElementById(id).classList.add("active")

        fetch('http://192.168.4.44:5000/getTop/' + id) .then(response => response.json()) .then(response => {
            artists = document.getElementById("artists");
            artists.innerHTML = `
            <tr>
                <th>Top 10 Artists</th>
            </tr>`;

            for (let i = 0; i < response["artists"]["items"].length; i++) {
                artists.innerHTML += `
                <tr>
                    <td>${response["artists"]["items"][i]["name"]}</td>
                </tr>
                `
            }

            song = document.getElementById("song");
            song.innerHTML = `
            <tr>
                <th>Top 10 Songs</th>
            </tr>
            `
            
            for (let i = 0; i < response["song"]["items"].length; i++) {
                song.innerHTML += `
                <tr>
                    <td>${response["song"]["items"][i]["name"]} by ${response["song"]["items"][i]["artists"][0]["name"]}</td>
                </tr>
                `
            }

        }) .catch(error => console.error(error)); 
    }
</script>
</html>
