<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song of the Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--
      COLORS:
      red: #E63946 rgb(230, 57, 70)
      cream: #F1FAEE rgb(105, 5, 98)
      light blue: #A8DADC rgb(168, 218, 220)
      blue: #457B9D rgb(69, 123, 157)
      dark blue: #1D3557 rgb(29, 53, 87)
    -->
    <!-- Add your CSS link here for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/song.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <style>
      /* Your CSS styles go here */
    </style>
</head>
<body>
    <!-- Header section -->
    <ul>
        <li><img src="{{ url_for('static', filename='images/logo.png')}}" height="25" width="25" style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"></li>
        <li><a href="/home">Home</a></li>
        <li><a href="#archive">Archive</a></li>
        <li><a class="active" href="/song">Add Song</a></li>

    </ul>
    <h1 style="text-align: center;">Song of the Day</h1>

    <!-- Main content -->
    <!-- Search bar for songs -->
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search for songs...">
        <button onclick="searchSongs()" class="search">
            <span class="material-symbols-outlined" style="color: #F1FAEE;">
                search
            </span>
        </button>
    </div>

    <!-- Testing area -->
    <!-- spacing on mobile sin't correct at all, text is warping when it shouldn't -->
    <div class='parent flex-parent'>
        <div class='child flex-child' id="searchResults" style="gap: 10px;">
            <!-- This is where each item goes for the song (6 items) -->
            <p style="text-align: center; position: relative;">Please Search for a Song</p>
        </div>
    </div>
    <br>
</body>
<script>
    // JavaScript functions for search and adding songs

    function searchSongs() {
        let x = document.getElementById("searchInput").value;
        fetch('http://192.168.4.44:5000/search/' + x) .then(response => response.json()) .then(data => {
            document.getElementById("searchResults").textContent = "";
            console.log(data)
            i = 1

            songData = []

            for (let i = 0; i < data["tracks"]["items"].length; i ++) {
                name = data["tracks"]["items"][i]["name"];
                //Goal: to get all the artists or 2 of them and show them and not just one without the screen getting all messed up
                artist = data["tracks"]["items"][i]["artists"][0]["name"];

                if (data["tracks"]["items"][i]["artists"].length > 1) {
                    artist = ""
                    for (let s = 0; s < data["tracks"]["items"][i]["artists"].length; s ++) {
                        artist += `${data["tracks"]["items"][i]["artists"][s]["name"]}, `;
                    }
                    length = artist.length
                    artist = artist.slice(0, (length-2));
                }
                
                image_pic = data["tracks"]["items"][i]["album"]["images"][0]["url"];
                track_id = data["tracks"]["items"][i]["id"];

                console.log(track_id)

                x = {"name": name,
                    "artist": artist,
                    "art": image_pic,
                    "id": track_id}

                songData[i] = x
            }
        
            for (let i = 0; i < 6; i ++) {
                name = songData[i]["name"]
                artist= songData[i]["artist"]
                image_pic = songData[i]["art"]
                track_id = songData[i]["id"]

                item = document.createElement("div");
                item.id = "item" + i;
                item.classList.add("item")

                image = document.createElement("div");
                image.id = "image" + i;

                data = document.createElement("div");
                data.id = "data" + i;
                data.classList.add("data")

                img = document.createElement('img');
                img.src = image_pic; img.height = "75"; img.width = "75";

                songName = document.createElement("h3");
                songName.textContent = name; songName.style = "font-size: 20px; margin: 0px; height: 25px";

                if (name.length > 25) {
                    name = name.slice(0, 25)
                    name += "..."
                    songName.textContent = name
                }

                if (window.innerWidth < 500) {
                    name = name.slice(0, 12)
                    name += "..."
                    songName.textContent = name
                }

                songBy = document.createElement("p");
                songBy.textContent = "By: " + artist; songBy.style = "margin: 0px; font-size: 10px;"

                select_group = document.createElement("div")
                select_group.classList.add("select"); select_group.id = "button-group" + i;

                button_art1 = document.createElement("img")
                button_art1.src = "{{ url_for('static', filename='/images/select.png') }}"; button_art1.width = "19"; button_art1.height = "19";

                button_art2 = document.createElement("img")
                button_art2.src = "{{ url_for('static', filename='/images/select.png') }}"; button_art2.width = "19"; button_art2.height = "19";


                document.getElementById("searchResults").appendChild(item)
                document.getElementById("item" + i).appendChild(image)
                document.getElementById("item" + i).appendChild(data)

                document.getElementById('image' + i).appendChild(img);

                document.getElementById("data" + i).appendChild(songName);
                document.getElementById("data" + i).appendChild(songBy);

                data.innerHTML += `<button id='${track_id}1' onclick='addSong(this.id)' class='select-button select-small'></button>`;
                
                document.getElementById("item" + i).appendChild(select_group);

                //document.getElementById("button-group" + i).appendChild(detail);

                select_group.innerHTML += `<button id='${track_id}2' onclick='addSong(this.id)' class='select-button select-large'></button>`;

                document.getElementById(track_id + "1").appendChild(button_art1);
                document.getElementById(track_id + "2").appendChild(button_art2);


                
            }
        }) .catch(error => console.error(error)); 
    }

    function addSong(songID) {
        console.log(songID);
    }
</script>
</html>
